.jankx-block-product-categories.jankx-block-product-categories ul {
	margin-left: 20px;
}
.jankx-block-product-categories {
	.components-placeholder__label svg {
		margin-right: 1ch;
		fill: currentColor;
	}
}
