@import "./style";

.editor-styles-wrapper .is-layout-constrained > .jankx-block-editor-customer-account.alignright {
	@include flex-justify-content(flex-end);
}

.editor-styles-wrapper .is-layout-constrained > .jankx-block-editor-customer-account.alignleft {
	@include flex-justify-content(flex-start);
}

.editor-styles-wrapper .is-layout-constrained > .jankx-block-editor-customer-account.aligncenter {
	@include flex-justify-content(center);
}

.jankx-block-editor-customer-account {
	display: flex;
	padding: em($gap-smaller);
}

.jankx-block-editor-customer-account__icon-style-toggle {
	width: 100%;
}

/* In sidebar without tabs (WP <=6.1) */
.block-editor-block-card + div > .jankx-block-editor-customer-account__link {
	padding: 0 $gap $gap 52px;
}
