.jankx-block-cart {
	.jankx-block-components-shipping-calculator {
		white-space: nowrap;
	}

	.jankx-block-components-address-form {
		.jankx-block-components-text-input,
		.jankx-block-components-country-input,
		.jankx-block-components-state-input {
			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	.jankx-block-components-totals-taxes,
	.jankx-block-components-totals-footer-item {
		margin: 0;
	}

	table.jankx-block-cart-items,
	table.jankx-block-cart-items th,
	table.jankx-block-cart-items td {
		margin: 0 0 2em;
	}
}

// Loading placeholder state.
.jankx-block-cart--is-loading,
.jankx-block-mini-cart__drawer.is-loading {
	th span,
	h2 span {
		@include placeholder();
		@include force-content();
		min-width: 84px;
		display: inline-block;
	}
	h2 span {
		min-width: 33%;
	}
	.jankx-block-components-product-price,
	.jankx-block-components-product-metadata,
	.jankx-block-components-quantity-selector {
		@include placeholder();
	}
	.jankx-block-components-product-name {
		@include placeholder();
		@include force-content();
		min-width: 84px;
		display: inline-block;
	}
	.jankx-block-components-product-metadata {
		margin-top: 0.25em;
		min-width: 8em;
	}
	.jankx-block-cart-item__remove-link {
		visibility: hidden;
	}
	.jankx-block-cart-item__image > a {
		@include placeholder();
		display: block;
	}
	.jankx-block-components-product-price {
		@include force-content();
		max-width: 3em;
		display: block;
		margin-top: 0.25em;
	}
	.jankx-block-cart__sidebar .components-card {
		@include placeholder();
		@include force-content();
		min-height: 460px;
	}
}
.jankx-block-components-sidebar-layout.jankx-block-cart--skeleton {
	display: none;
}
.is-loading + .jankx-block-components-sidebar-layout.jankx-block-cart--skeleton {
	display: flex;
}

.jankx-block-cart-item__total-price-and-sale-badge-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	.jankx-block-components-sale-badge {
		margin-top: $gap-smallest;
	}
}

.is-small,
.is-mobile {
	.jankx-block-cart-item__total {
		.jankx-block-components-sale-badge {
			display: none;
		}
	}
	table.jankx-block-cart-items {
		margin: 0;
	}
}

.is-medium,
.is-small,
.is-mobile {
	&.jankx-block-cart {
		.jankx-block-components-sidebar {
			.jankx-block-cart__totals-title {
				display: none;
			}
		}
	}
}

.is-large.jankx-block-cart {
	margin-bottom: 3em;

	.jankx-block-components-radio-control__input {
		left: 0;
		margin: 0;
	}

	.jankx-block-cart__totals-title {
		@include text-heading();
		@include font-size( smaller );
		display: block;
		font-weight: 700;
		padding: 0.25rem 0;
		text-align: right;
		text-transform: uppercase;

		textarea {
			font-weight: 700; // Ensure correct font-weight in site-editor.
		}
	}

	.jankx-block-components-sidebar {
		.jankx-block-components-shipping-calculator,
		.jankx-block-components-shipping-rates-control__package:not(.jankx-block-components-panel) {
			padding-left: $gap;
			padding-right: $gap;
		}
	}

	.jankx-block-cart__payment-options {
		padding: $gap 0 0;

		&:empty {
			padding: 0;
		}
	}
}

.wp-block-woocommerce-cart.is-loading {
	.wp-block-woocommerce-empty-cart-block {
		display: none;
	}
	.wp-block-woocommerce-filled-cart-block {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto $gap;
		position: relative;
	}

	.wp-block-woocommerce-cart-items-block {
		box-sizing: border-box;
		margin: 0;
		padding-right: math.percentage(math.div($gap-largest, 1060px)); // ~1060px is the default width of the content area in Storefront.
		width: 65%;
		min-height: 10em;
	}

	.wp-block-woocommerce-cart-line-items-block {
		min-height: 15em;
		display: block;
		@include placeholder();
	}

	.wp-block-woocommerce-cart-totals-block {
		box-sizing: border-box;
		margin: 0;
		padding-left: math.percentage(math.div($gap-large, 1060px));
		width: 35%;
		min-height: 12em;
	}

	.wp-block-woocommerce-cart-order-summary-block,
	.wp-block-woocommerce-cart-express-payment-block,
	.wp-block-woocommerce-proceed-to-checkout-block,
	.wp-block-woocommerce-cart-accepted-payment-methods-block {
		min-height: 3em;
		display: block;
		@include placeholder();
		margin: 0 0 1em 0;
	}

	.wp-block-woocommerce-cart-order-summary-block {
		height: 20em;
	}
}

// Skeleton is shown before mobile classes are appended.
@media only screen and ( max-width: 700px ) {
	.wp-block-woocommerce-cart.is-loading {
		padding-top: $gap;

		.wp-block-woocommerce-filled-cart-block {
			flex-direction: column;
			margin: 0 auto $gap;
		}

		.wp-block-woocommerce-cart-items-block {
			padding: 0;
			width: 100%;
		}

		.wp-block-woocommerce-cart-totals-block {
			padding: 0;
			width: 100%;
		}
	}
}
